# ROS 2 build & install directories
build/
install/
log/

# Specific logs and steps
nav_slam.log
step_follow.txt

# Vendor packages (Ignored to prevent nested git repository conflicts)
src/m-explore-ros2/

# Ignore all maps and launch_notuseyet directories
maps/
launch_notuseyet/

# Python & virtual environment
.venv/
__pycache__/
*.pyc

# Benchmark outputs & ROS graph dumps
*.png
*.pdf
*.gv
*.csv